@model List<SmileyUser>

@{
    ViewBag.Title = "Smiley User";
}

@section ScriptSection {
    <script>
        function ConfirmDelete() {
            if (confirm("Are you sure you want to delete?") == false) {
                event.preventDefault();   // not working in IE
                event.stopPropagation();  // not working in Firefox
                return false;             // working in IE
            }
        }

    </script>
}
<h2>Smiley User</h2>

<span style="color:red">@TempData["Msg"]</span>
<br />
<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="SmileyUser" asp-action="Create">Create New</a>
    }
</p>

<a asp-action="Print" target="_blank">Print</a>
<table class="table">
    <tr>
        <th>User Id</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Voicefile</th>
        <th>Picfile</th>
        <th>Role</th>
        <th>PhoneNum</th>
        <th>LastLogin</th>

        @if (User.IsInRole("Admin"))
        {
            <th>Actions</th>
        }

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserId</td>
            <td>@item.FullName</td>
            <td>@item.Email</td>
            <td>@item.Voicefile</td>
            <td>@item.Picfile</td>
            <td>@item.Role</td>
            <td>@item.PhoneNum</td>
            <td>@item.LastLogin</td>

             @if (User.IsInRole("Admin"))
             {
            <td>
                <a asp-action="Update" asp-route-id="@item.UserId">Update | </a>
                <a asp-action="Delete" asp-route-id="@item.UserId" onclick="return ConfirmDelete()">Delete</a>
            </td>
             }
 

        </tr>
    }
</table>